<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
    <http use-expressions="true">
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <logout logout-url="/logout" logout-success-url="/login"/>
        <!--
        如果配置了login-page,　表示使用自定义的Ｐage
        如果没有配置logon-page, 表示使用Spring　Security虚拟出的Ｐage(/login)
        -->
        <form-login authentication-success-handler-ref="simpleUrlAuthenticationSuccessHandler"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <ldap-authentication-provider user-search-filter="(uid={0})" user-search-base="ou=people,dc=springframework,dc=org"
                                      group-search-filter="(uniqueMember={0})" group-search-base="ou=groups,dc=springframework,dc=org"
                                      role-prefix="role_"  >
            <password-compare>
                <password-encoder ref="delegatingPasswordEncoder"/>
            </password-compare>
        </ldap-authentication-provider>
    </authentication-manager>

    <ldap-server url="ldap://localhost:8389" manager-dn="" manager-password=""/>

    <beans:bean id="simpleUrlAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
        <beans:constructor-arg value="/home"/>
    </beans:bean>
</beans:beans>